<!-- Learn More (Information) Modal -->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="infoModalTitle">
                    About roomM8
                </h4>
            </div>
            <div class="modal-body">
                <p>
                    roomM8 was built by <a href="http://www.soerenwalls.com/">a Noogler</a> 
                    for other Nooglers. It is a completely 
                    independent service that has no association with Google.
                </p>
                <h3>What's it for?</h3>
                <p>
                    The purpose of roomM8 is to provide a <strong>secure</strong> and 
                    <strong>searchable</strong> database of people
                    who will be working at Google soon and are looking for roommates.
                    Roommates are great for several reasons:
                </p>
                <ol>
                    <li>Someone to talk to besides yourself</li>
                    <li>Someone to relate to about being new at Google</li>
                    <li>Someone to watch Game of Thrones with</li>
                    <li>Cheaper rent</li>
                </ol>
                <h3>What happens when I sign up?</h3>
                <p>
                    When you sign up for roomM8, you'll enter some Google-specific information 
                    like where & when you will be starting at Google, as well as some practical 
                    information like how many roommates you're looking for and how important 
                    quiet time & cleanliness are to you.
                </p>
                <p>
                    After you sign up, you'll have access to the entire database of other
                    Nooglers who have already signed up. You can easily search for people by
                    name, field of work, Google Campus location, start date, and more. You can see
                    what cities they're considering living in, how many roommates they want,
                    what type of residence they want, and more.
                </p>
                <h3>Why are there so few people?</h3>
                <p>
                    Since roomM8 is so new (<strong>launched June 4, 2017</strong>), there might not
                    be very many users at first, but be patient and in a few days there 
                    might be more people in your search results.
                </p>
                <h3>How can I trust roomM8?</h3>
                <p>
                    This service uses secure protocols and authentication, which you can 
                    verify by viewing the complete <a href="https://github.com/SWalls/roomM8">source code on GitHub</a>.
                    I'm not perfect, so if you see anything problematic, pull requests or issue 
                    posts are more than welcome!
                </p>
                <h3>Privacy/safety concerns?</h3>
                <p>
                    Other users will be able to see your name, photo (if you have one), and other relevant
                    information. However, you can choose to keep your age and gender private, and your email 
                    address is always kept private.
                    Messages you recieve on roomM8 will be forwarded to your email, but the sender won't know your
                    email unless you reply. Also, <strong>users can only message another user once</strong>.
                    This is to prevent your inbox from blowing up.
                </p>
                <p>
                    Unless a Noogler shares the secret registration code with a non-Noogler 
                    (if you do, <a href="http://i.imgur.com/NAJE0d0.png">shame on you!</a>), 
                    every user of roomM8 is a Google employee. If you believe in Google's
                    hiring practices, this means it's a relatively trustworthy group of people.
                </p>
                <p>
                    That being said, you should of course always be cautious when talking to
                    anyone online. If you get a message that seems fishy/sketchy, just ignore it.
                    If you become suspicious that someone might not be a Noogler, ask for proof.
                    <strong>If you are harassed or believe someone is abusing the service, please report
                    them immediately <a href="https://goo.gl/forms/uoGdF9IJB9huOxTx1">here</a>.</strong> 
                    Ultimately, however, roomM8's creator cannot be held responsible for
                    anything bad that happens.
                </p>
                <h3>Can I temporarily hide my profile?</h3>
                <p>
                    Yes. If at any time you wish to stop receiving messages from other users and temporarily hide
                    your profile from the public listing, just click the 'Hide profile' button. To unhide
                    your profile, click the 'Show profile' button.
                </p>
                <h3>Can I delete my account?</h3>
                <p>
                    Yes. Once you're done using roomM8, hopefully after you've found a 
                    <a href="https://s-media-cache-ak0.pinimg.com/564x/77/95/b8/7795b8e7e066ea94dba4807a1f733921.jpg">
                    fantastic roommate</a>, it's very easy to delete your account and permenantly
                    erase all your info from the database. This action cannot be undone.
                </p>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>