<!-- views/partials/key-form.ejs -->
<!-- Keyphrase -->
<fieldset id="f0">
    <div id="code-stuff" style="<%= (allowedAccess) ? 'display: none;' : '' %>">
        <div class="form-group row">
            <div class="col-sm-8" style="margin: auto; float: none;">
                <div class="input-group">
                    <input type="text" class="form-control form-control-lg" id="secretKey" name="key" placeholder="Enter secret code" required />
                    <span class="input-group-btn">
                        <button class="btn btn-primary btn-lg" type="button" id="btn-check-code"><span class="glyphicon glyphicon-arrow-right"></span></button>
                    </span>
                </div>
            </div>
        </div>
        <h2 class="text-center">OR</h2>
        <p class="text-center">Already have an account?</p>
    </div>
    <a href="/auth/google" class="btn-google btn-google-2x"></a>
</fieldset>