<!-- views/partials/message-form.ejs -->
<!-- Send message -->
<fieldset id="fieldsetMessage">
    <input type="hidden" id="recipientID" name="id" required />
    <input type="hidden" id="recipientName" name="id" required />
    <div class="form-group">
        <label for="msgSubject" class="col-form-label">Subject</label>
        <input type="text" class="form-control" id="messageSubject" name="subject" data-default="Potential Noogler Roommate?" placeholder="Enter subject" required />
    </div>
    <div class="form-group">
        <label for="messageContent" class="col-form-label">Message</label>
        <div style="margin-bottom: 5px;">
            <small id="messageContentHelp" class="form-text">Your <a href="#" data-toggle="tooltip" data-placement="auto top" title="Your email, name, start date/location/position, preferences, bio, etc. will be shared. This does not include your private info: age, gender, importance ratings, etc.">public roomM8 profile info</a> will be included in the email, right below this message, so there is no need to repeat any information you entered when you signed up. (No HTML allowed)</small>
        </div>
        <textarea class="form-control" id="messageContent" name="message" required rows="8" maxlength="1000" 
        style="resize: none;" placeholder="Enter message" aria-describedby="messageContentHelp"></textarea>
    </div>
    <div class="form-group">
        <div>
            <label>
                <input type="checkbox" class="regRequired" name="agree1" value="yes" /> 
                I confirm the content of this message does not violate my NDA with Google.
            </label>
        </div>
        <div>
            <label>
                <input type="checkbox" class="regRequired" name="agree2" value="yes" /> 
                I understand that I am about to give <span class="recipientName">this user</span> my email address.
            </label>
        </div>
    </div>
</fieldset>