<!-- views/partials/roommates-list.ejs -->
<div ng-app="roommatesApp" ng-controller="roomiesCtrl">
    <div class="container" id="roomieSearchContainer">
        <div class="jumbotron">
            <div class="row side-padded">
                <div class="col-sm-9 mx-auto">
                    <div class="input-group input-group-huge">
                        <span class="input-group-addon glyphicon glyphicon-search"></span>
                        <input type="text" class="h1" id="roommateSearchBox" 
                            ng-model="query" placeholder="Search" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="roomiesContainer" role="main">
        <div class="profile-card" ng-repeat="x in roomies | roommateFilter:query" ng-cloak>
            <div class="inner-container">
                <div class="row {{ x.hasPlace ? 'bg-info' : 'bg-primary' }}">
                    <div class="col col-sm-4">
                        <div class="btn-circle-lg btn-photo" style="background-image: url('{{ x.photoUrl }}');"></div>
                    </div>
                    <div class="col col-sm-8">
                        <h1>{{ x.name }}</h1>
                        <p><strong>{{ x.position }}</strong></p>
                        <p>{{ locations[x.startLocation] }}</p>
                    </div>
                </div>
                <div class="row">
                    <p>
                        <span class="glyphicon glyphicon-calendar"></span> 
                        <strong>{{ x.startDate | dateFormat }}</strong>
                    </p>
                    <p class="desc" data-desc="{{ x.aboutMe }}">
                        <span>{{ x.aboutMe.substring(0,110) }}...</span>
                        <a href="#" class="more">More</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>