<!-- views/partials/roommates-list.ejs -->
<div ng-app="roommatesApp" ng-controller="roomiesCtrl">
    <div class="container" id="roomieSearchContainer">
        <div class="jumbotron">
            <div class="row side-padded">
                <div class="col-md-9 mx-auto">
                    <div class="input-group input-group-huge">
                        <span class="input-group-addon glyphicon glyphicon-search"></span>
                        <input type="text" class="h1" id="roommateSearchBox" 
                            ng-model="searchName" placeholder="Search" />
                    </div>
                    <div id="advanced-search">
                        <div class="filter-group">
                            <label class="text-muted" for="searchLocation">Start location</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <label for="locationCheckbox" class="sideLabel"></label>
                                    <input type="checkbox" id="locationCheckbox" ng-model="includeLocation" aria-label="Checkbox for using start location to narrow search results." ng-change="locationChangeHandler()" checked />
                                </span>
                                <select class="form-control" id="searchLocation" ng-init="searchStartLocation = <%= user.startLocation %>" ng-model="searchStartLocation" ng-change="locationChangeHandler()" ng-options="location.value as location.city group by location.continent for location in locations">
                                </select>
                            </div>
                        </div>
                        <div class="filter-group">
                            <label class="text-muted" for="searchStartDate">Start date</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <label for="startDateCheckbox" class="sideLabel"></label>
                                    <input type="checkbox" id="startDateCheckbox" ng-model="includeDate" aria-label="Checkbox for using start date to narrow search results." />
                                </span>
                                <input type="month" class="form-control" id="searchStartDate" ng-model="searchStartDate" ng-change="updateDateString()" min="2017-01" disabled />
                            </div>
                        </div>
                        <div class="filter-group">
                            <label class="text-muted" for="searchField">Field of work</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <label for="fieldCheckbox" class="sideLabel"></label>
                                    <input type="checkbox" id="fieldCheckbox" ng-model="includeField" aria-label="Checkbox for using field of work to narrow search results." />
                                </span>
                                <select class="form-control" id="searchField" ng-model="searchField" ng-options="field.value as field.name for field in fields" ng-init="searchField = '<%= user.field %>'" disabled>
                                </select>
                            </div>
                        </div>
                        <div class="filter-group">
                            <label class="text-muted" for="searchRole">Role</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <label for="roleCheckbox" class="sideLabel"></label>
                                    <input type="checkbox" id="roleCheckbox" ng-model="includeRole" aria-label="Checkbox for using work role to narrow search results." />
                                </span>
                                <select class="form-control" id="searchRole" ng-model="searchRole" ng-init="searchRole = '<%= user.role %>'" disabled>
                                    <option value="full-time">Full-time</option>
                                    <option value="resident">Resident</option>
                                    <option value="intern">Intern</option>
                                </select>
                            </div>
                        </div>
                        <div class="filter-group">
                            <label class="text-muted" for="searchResType">Residence type</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <label for="resTypeCheckbox" class="sideLabel"></label>
                                    <input type="checkbox" id="resTypeCheckbox" ng-model="includeResType" aria-label="Checkbox for using type of residence to narrow search results." />
                                </span>
                                <select class="form-control" id="searchResType" ng-model="searchResType" ng-init="searchResType = 'apartment'" disabled>
                                    <option value="apartment">Apartment</option>
                                    <option value="condo">Condominium</option>
                                    <option value="house">House</option>
                                </select>
                            </div>
                        </div>
                        <div class="filter-group">
                            <label class="text-muted" for="searchStatus">Status</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <label for="statusCheckbox" class="sideLabel"></label>
                                    <input type="checkbox" id="statusCheckbox" ng-model="includeStatus" aria-label="Checkbox for using status to narrow search results." />
                                </span>
                                <select class="form-control" id="searchStatus" ng-model="searchStatus" ng-init="searchStatus = 'has-place'" disabled>
                                    <option value="has-place">Has a place</option>
                                    <option value="no-place">Looking for a place</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="roomiesContainer" role="main" infinite-scroll="loadMoreResults()" infinite-scroll-distance="2">
        <div class="profile-card" ng-repeat="x in roomies | 
            resultsFilter:this:
            searchName:
            (includeDate ? searchStartDateString : ''):
            (includeField ? searchField : ''):
            (includeRole ? searchRole : ''):
            (includeResType ? searchResType : ''):
            (includeStatus ? searchStatus : '')" ng-cloak>
            <div class="inner-container">
                <div class="row profile-container {{ x.hasPlace ? 'bg-info' : 'bg-primary' }}">
                    <div class="col col-sm-4">
                        <div class="btn-circle-lg btn-photo" style="background-image: url('{{ x.photoUrl }}');"></div>
                    </div>
                    <div class="col col-sm-8">
                        <h2>{{ x.name }}</h2>
                        <p><strong>{{ x.position.capitalizeAll() }} ({{ x.role.capitalizeAll() }})</strong></p>
                        <p>{{ locations[x.startLocation].city }}</p>
                    </div>
                    <a href="javascript:;" tool-tip ng-if="x.hasPlace" class="tip float text-info" data-toggle="tooltip" data-placement="auto" title="This Noogler has a residence already">
                        <span class="glyphicon glyphicon-ok"></span> 
                        Has Place
                    </a>
                    <a href="javascript:;" tool-tip ng-if="!x.hasPlace" class="tip float text-primary" data-toggle="tooltip" data-placement="auto" title="This Noogler is looking for a residence">
                        <span class="glyphicon glyphicon-search"></span> 
                        Looking
                    </a>
                </div>
                <div class="data-container">
                    <div class="row">
                        <div class="col col-xs-6">
                            <p>
                                <a href="javascript:;" tool-tip class="tip" data-toggle="tooltip" data-placement="auto" title="Start date">
                                    <span class="glyphicon glyphicon-calendar text-{{ x.hasPlace ? 'info' : 'primary' }}"></span> 
                                    <strong>{{ x.startDate | dateFormat }}</strong>
                                </a>
                            </p>
                        </div>
                        <div class="col col-xs-6">
                            <p>
                                <a href="javascript:;" tool-tip ng-if="x.hasPlace" class="tip" data-toggle="tooltip" data-placement="auto" title="Lease duration">
                                    <span class="glyphicon glyphicon-time text-info"></span> 
                                    <strong>{{ x.currentResidence.durationInMonths | durationFilter }}</strong>
                                </a>
                                <a href="javascript:;" tool-tip ng-if="!x.hasPlace" class="tip" data-toggle="tooltip" data-placement="auto" title="Desired duration of stay">
                                    <span class="glyphicon glyphicon-time text-primary"></span> 
                                    <strong>{{ x.preferences.durationInMonths | durationFilter }}</strong>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-xs-6">
                            <p>
                                <a href="javascript:;" tool-tip ng-if="x.hasPlace" class="tip" data-toggle="tooltip" data-placement="auto" title="Type of residence">
                                    <span class="glyphicon glyphicon-home text-info"></span> 
                                    <strong>{{ x.currentResidence.residenceType.capitalize() }}</strong>
                                </a>
                                <a href="javascript:;" tool-tip ng-if="!x.hasPlace" class="tip" data-toggle="tooltip" data-placement="auto" title="Desired residence">
                                    <span class="glyphicon glyphicon-home text-primary"></span> 
                                    <strong>{{ x.preferences.residenceType | residenceFilter }}</strong>
                                </a>
                            </p>
                        </div>
                        <div class="col col-xs-6">
                            <p>
                                <a href="javascript:;" tool-tip ng-if="x.hasPlace" class="tip" data-toggle="tooltip" data-placement="auto" title="Available/vacant rooms">
                                    <span class="glyphicon glyphicon-user text-info"></span> 
                                    <strong>{{ x.currentResidence.vacantRooms | peopleFilter}}</strong>
                                </a>
                                <a href="javascript:;" tool-tip ng-if="!x.hasPlace" class="tip" data-toggle="tooltip" data-placement="auto" title="Desired roommates">
                                    <span class="glyphicon glyphicon-user text-primary"></span> 
                                    <strong>{{ x.preferences.roommates | peopleFilter }}</strong>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-xs-6" ng-if="x.hasPlace">
                            <p>
                                <a href="javascript:;" tool-tip class="tip" data-toggle="tooltip" data-placement="auto" title="City of residence">
                                    <span class="glyphicon glyphicon-map-marker text-info"></span> 
                                    <strong>{{ x.currentResidence.location }}</strong>
                                </a>
                            </p>
                        </div>
                        <div class="col col-xs-6" ng-if="x.hasPlace">
                            <p>
                                <a href="javascript:;" tool-tip class="tip" data-toggle="tooltip" data-placement="auto" title="Bathrooms in residence">
                                    <span class="glyphicon glyphicon-tint text-info"></span> 
                                    <strong>{{ x.currentResidence.bathrooms }} bathrooms</strong>
                                </a>
                            </p>
                        </div>
                        <div class="col col-xs-12" ng-if="!x.hasPlace">
                            <p>
                                <a href="javascript:;" tool-tip class="tip" data-toggle="tooltip" data-placement="auto" title="Preferred cities to live in">
                                    <span class="glyphicon glyphicon-map-marker text-primary"></span> 
                                    <strong>{{ x.preferences.locations | locationsFilter }}</strong>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-xs-12">
                            <p>
                                <a href="javascript:;" tool-tip class="tip" data-toggle="tooltip" data-placement="auto" title="Most important factors">
                                    <span class="glyphicon glyphicon-heart text-{{ x.hasPlace ? 'info' : 'primary' }}"></span> 
                                    <strong>{{ x.factors | factorsFilter }}</strong>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <p class="desc" data-desc="{{ x.aboutMe | aboutFilter }}">
                            <span>{{ x.aboutMe.substring(0,100) | aboutFilter }}...</span>
                            <a href="javascript:;" class="more" onclick="toggleReadMore(event,this);">More</a>
                        </p>
                    </div>
                </div>
                <div class="message-container">
                    <div class="row email" ng-if="!userHasMessaged(x._id)">
                        <button class="btn btn-{{ x.hasPlace ? 'info' : 'primary' }}" data-toggle="modal" data-target="#messageModal" data-name="{{ x.name }}" data-id="{{ x._id }}">
                            <span class="glyphicon glyphicon-send"></span> <span class="btn-text">Message {{ x.name.split(' ')[0] }}</span>
                        </button>
                    </div>
                    <div class="row email" ng-if="userHasMessaged(x._id)">
                        <button class="btn btn-{{ x.hasPlace ? 'info' : 'primary' }} disabled">
                            <span class="glyphicon glyphicon-ok"></span> <span class="btn-text">Message Sent</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="no-results" ng-class="{'show': noResultsToShow || noMoreResults, 'more': noMoreResults && !noResultsToShow}">
            <h1>No<span> more</span> results ¯\_(ツ)_/¯</h1>
        </div>
    </div>
</div>
<!-- Message Form Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/message" method="post" id="message-form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="messageModalTitle">
                        Message
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger error-message" style="font-weight: bold;" 
                            data-message="Please complete the missing or invalid fields.">
                        <span class="glyphicon glyphicon-exclamation-sign"></span> <span class="msg"></span>
                    </div>
                    <div class="alert alert-success success-message" style="font-weight: bold;" 
                            data-message="Success!">
                        <span class="glyphicon glyphicon-ok"></span> <span class="msg"></span>
                    </div>
                    <% include ../partials/message-form.ejs %>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-xs-4 text-left">
                            <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">Cancel</button>
                        </div>
                        <div class="col-xs-8">
                            <button type="button" class="btn btn-success btn-send">
                                <span class="glyphicon glyphicon-send"></span> 
                                Send Message
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>