<!-- views/partials/roommates-list.ejs -->
<div ng-app="roommatesApp" ng-controller="roomiesCtrl">
    <div class="container" id="roomieSearchContainer">
        <div class="jumbotron">
            <div class="row side-padded">
                <div class="col-md-9 mx-auto">
                    <div class="input-group input-group-huge">
                        <span class="input-group-addon glyphicon glyphicon-search"></span>
                        <input type="text" class="h1" id="roommateSearchBox" 
                            ng-model="searchName" placeholder="Search" />
                    </div>
                    <div id="advanced-search">
                        <div class="filter-group">
                            <label class="text-muted" for="searchLocation">Start location</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <label for="locationCheckbox" class="sideLabel"></label>
                                    <input type="checkbox" id="locationCheckbox" ng-model="includeLocation" aria-label="Checkbox for using start location to narrow search results." ng-change="locationChangeHandler()" checked />
                                </span>
                                <select class="form-control" id="searchLocation" ng-init="searchStartLocation = <%= user.startLocation %>" ng-model="searchStartLocation" ng-change="locationChangeHandler()" ng-options="location.value as location.city group by location.continent for location in locations">
                                </select>
                            </div>
                        </div>
                        <div class="filter-group">
                            <label class="text-muted" for="searchStartDate">Start date</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <label for="startDateCheckbox" class="sideLabel"></label>
                                    <input type="checkbox" id="startDateCheckbox" ng-model="includeDate" aria-label="Checkbox for using start date to narrow search results." />
                                </span>
                                <input type="month" class="form-control" id="searchStartDate" ng-model="searchStartDate" ng-change="updateDateString()" min="2017-01" disabled />
                            </div>
                        </div>
                        <div class="filter-group">
                            <label class="text-muted" for="searchField">Field of work</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <label for="fieldCheckbox" class="sideLabel"></label>
                                    <input type="checkbox" id="fieldCheckbox" ng-model="includeField" aria-label="Checkbox for using field of work to narrow search results." />
                                </span>
                                <select class="form-control" id="searchField" ng-model="searchField" ng-options="field.value as field.name for field in fields" ng-init="searchField = '<%= user.field %>'" disabled>
                                </select>
                            </div>
                        </div>
                        <div class="filter-group">
                            <label class="text-muted" for="searchRole">Role</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <label for="roleCheckbox" class="sideLabel"></label>
                                    <input type="checkbox" id="roleCheckbox" ng-model="includeRole" aria-label="Checkbox for using work role to narrow search results." />
                                </span>
                                <select class="form-control" id="searchRole" ng-model="searchRole" ng-init="searchRole = '<%= user.role %>'" disabled>
                                    <option value="full-time">Full-time</option>
                                    <option value="resident">Resident</option>
                                    <option value="intern">Intern</option>
                                </select>
                            </div>
                        </div>
                        <div class="filter-group">
                            <label class="text-muted" for="searchResType">Residence type</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <label for="resTypeCheckbox" class="sideLabel"></label>
                                    <input type="checkbox" id="resTypeCheckbox" ng-model="includeResType" aria-label="Checkbox for using type of residence to narrow search results." />
                                </span>
                                <select class="form-control" id="searchResType" ng-model="searchResType" ng-init="searchResType = 'apartment'" disabled>
                                    <option value="apartment">Apartment</option>
                                    <option value="condo">Condominium</option>
                                    <option value="house">House</option>
                                </select>
                            </div>
                        </div>
                        <div class="filter-group">
                            <label class="text-muted" for="searchStatus">Status</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <label for="statusCheckbox" class="sideLabel"></label>
                                    <input type="checkbox" id="statusCheckbox" ng-model="includeStatus" aria-label="Checkbox for using status to narrow search results." />
                                </span>
                                <select class="form-control" id="searchStatus" ng-model="searchStatus" ng-init="searchStatus = 'has-place'" disabled>
                                    <option value="has-place">Has a place</option>
                                    <option value="no-place">Looking for a place</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="roomiesContainer" role="main" infinite-scroll="loadMoreResults()" infinite-scroll-distance="2">
        <% include user-profile-angular.ejs %>
    </div>
</div>
<!-- Message Form Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/message" method="post" id="message-form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="messageModalTitle">
                        Message
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger error-message" style="font-weight: bold;" 
                            data-message="Please complete the missing or invalid fields.">
                        <span class="glyphicon glyphicon-exclamation-sign"></span> <span class="msg"></span>
                    </div>
                    <div class="alert alert-success success-message" style="font-weight: bold;" 
                            data-message="Success!">
                        <span class="glyphicon glyphicon-ok"></span> <span class="msg"></span>
                    </div>
                    <% include message-form.ejs %>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-xs-4 text-left">
                            <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">Cancel</button>
                        </div>
                        <div class="col-xs-8">
                            <button type="button" class="btn btn-success btn-send">
                                <span class="glyphicon glyphicon-send"></span> 
                                Send Message
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>