/* Ensure AngularJS does not show FOUC. */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.text-white {
    color: white;
}
.bg-white {
    background-color: white;
    color: #2780e3;
}
.btn-white {
    background-color: transparent;
    border-bottom: 2px solid #333;
    color: white;
}
.btn-white:hover, .btn-white:focus {
    background-color: #aaa;
}
.btn-white .glyphicon {
    color: #333;
}

.page-header {
    border: 0px;
    text-align: center;
}
.page-header h1 a {
    text-decoration: none;
    border-bottom: 1px solid #ddd;
    padding: 0px;
    transition: 1s;
}
.page-header h1 a:hover {
    border-bottom: 1px solid #333;
    padding: 0 10px;
}
.author {
    padding: 20px;
    text-align: center;
}
.head {
    width: 100%;
    padding: 40px 0px 10px 0px;
}
.head .jumbotron {
    background: transparent;
    margin-bottom: 0px;
}
.head .jumbotron .btn {
    border-width: 0px;
    border-bottom-width: 2px;
}
.head .jumbotron .btn:not(:hover) {
    background: transparent;
}
.head .jumbotron .btn:hover {
    border-color: white;
}
.btn .glyphicon, .alert .glyphicon {
    margin-right: 3px;
}
.btn .glyphicon-arrow-right {
    margin-left: 3px;
    margin-right: 0;
}
.mx-auto, .top .alert {
    margin-left: auto;
    margin-right: auto;
    float: none;
}

/* Tags input */
.bootstrap-tagsinput {
    width: 100%;
    border-radius: 0px;
    margin-bottom: 0px;
    padding: 10px 18px;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.bootstrap-tagsinput.focus {
    z-index: 3;
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}
.tt-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    cursor: pointer;
}
.tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}
.tt-suggestion:hover, .tt-suggestion:focus, .tt-cursor {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #428bca;
}

/* Registration form */
form#registration-form fieldset {
    display: none;
}
fieldset#f0 > p {
    margin-top: 10px;
}
.slider.slider-horizontal {
    width: 100%;
}
.input-error {
    border-color: #d03e3e;
    color: #d03e3e;
}
input[type="radio"], input[type="checkbox"] {
    margin: 4px;
}

/* Roommate Search Input */
#roomieSearchContainer {
    background: #e6e6e6;
    width: 100%;
}
#roomieSearchContainer .jumbotron {
    background: transparent;
    margin-bottom: 0;
}
.side-padded {
    margin-left: 0;
    margin-right: 0;
}
.input-group-huge {
    border-bottom: 3px solid #ccc;
    width: 100%;
    transition: 0.5s;
    margin-bottom: 10px;
}
.input-group-huge:hover, .input-group-huge.focus {
    border-color: #2780e3;
}
.input-group-huge .input-group-addon {
    background: transparent;
    border: 0;
    font-size: 2.8em;
    color: #ccc;
    transition: 0.5s;
}
.input-group-huge:hover .input-group-addon, .input-group-huge.focus .input-group-addon {
    color: #2780e3;
}
#roommateSearchBox {
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    color: #333;
    margin-top: 10px;
    line-height: 1.2;
}

/* Roommate Results */
#roomiesContainer {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-bottom: 60px;
    position: relative;
    min-height: 350px;
}
#roomiesContainer .profile-card {
    padding: 0px 20px;
    margin: 0px auto 20px auto;
    flex-grow: 1;
    min-width: 300px;
    max-width: 500px;
}
#roomiesContainer .profile-card .glyphicon {
    margin-right: 3px;
}
#roomiesContainer .profile-card a.tip {
    text-decoration: none;
    color: inherit;
    cursor: default;
}
#roomiesContainer .profile-card .inner-container {
    border: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    display: table;
}
#roomiesContainer .profile-card .row.profile-container {
    color: white;
    padding: 35px 20px;
    margin: 0;
}
#roomiesContainer .profile-card .row.profile-container .col {
    float: none;
    display: table-cell;
    vertical-align: middle;
}
#roomiesContainer .profile-card div.row h2 {
    margin: 0px;
    margin-bottom: 2px;
}
#roomiesContainer .profile-card div.row p {
    margin: 2px 0px;
}
#roomiesContainer .profile-card .data-container {
    padding: 30px 35px 35px 35px;
}
#roomiesContainer .profile-card .data-container div.row {
    margin: 5px 0;
    padding: 0;
}
#roomiesContainer .profile-card .data-container .col {
    margin: 0;
    padding: 0;
}
#roomiesContainer .profile-card .btn-photo {
    margin-right: auto;
}

/* User/roommate profile */
.profile-card {
    margin: auto;
    float: none;
}
.btn-photo {
    background-color: black;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Blank_woman_placeholder.svg/1024px-Blank_woman_placeholder.svg.png');
    background-size: cover;
    cursor: default;
    margin-left: auto;
    border: 2px solid white;
}
.btn-circle-lg {
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 13px 0;
    font-size: 30px;
    line-height: 2.00;
    border-radius: 80px;
}

/* Sign in form */
.form-control-lg, .input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn {
    padding: 3.05rem 3.5rem;
    font-size: 2.25rem;
}
.btn-google {
    display: block;
    width: 191px;
    height: 46px;
    background-color: transparent;
    margin: 10px auto;
    border: 0px;
    background-image: url('../img/btn_google_signin_light_normal_web.png');
}
.btn-google:hover, .btn-google:focus {
    background-image: url('../img/btn_google_signin_light_focus_web.png');
}
.btn-google:active {
    background-image: url('../img/btn_google_signin_light_pressed_web.png');
}
.btn-google-2x {
    width: 382px;
    height: 92px;
    background-image: url('../img/btn_google_signin_light_normal_web@2x.png');
}
.btn-google-2x:hover, .btn-google-2x:focus {
    background-image: url('../img/btn_google_signin_light_focus_web@2x.png');
}
.btn-google-2x:active {
    background-image: url('../img/btn_google_signin_light_pressed_web@2x.png');
}

@media (max-width: 768px) { 
    .btn-photo {
        margin-right: auto;
    }
    .head .jumbotron .btn {
        display: block;
        padding-left: 50px;
        padding-right: 50px;
        margin: 0px auto 15px auto;
        width: 250px;
    }
    #roomiesContainer {
        margin-top: 40px;
        margin-bottom: 20px;
    }
    #roomiesContainer .profile-card .inner-container,
    #roomiesContainer .profile-card div.row .col {
        display: block;
    }
    #roomiesContainer .profile-card div.row .col {
        margin: 20px 0;
        text-align: center;
    }
}