<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You're almost done, <%= user.name.split(' ')[0] %>!</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="cosmo-bootstrap.min.css">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="email.css">
</head>
<body>
    <div class="profile-card">
        <div class="inner-container">
            <div class="row profile-container message-title bg-primary" style="padding: 20px; text-align: left;">
                <h2>You're almost done, <%= user.name.split(' ')[0] %>!</h2>
            </div>
            <div class="data-container">
                <div class="row">
                    <p>
                        Thank you for expressing interest in
                        <strong><a href="https://roomm8.io/">roomM8</a></strong>!
                    </p>
                    <br/>
                    <p>
                        <strong>You're almost done signing up.</strong> You have
                        successfully connected your Google account, but your profile
                        won't be visible to others until you complete your registration.
                    </p>
                    <br/>
                    <p>
                        Head over to <a href="https://roomm8.io/">roomM8.io</a> to finish 
                        setting up your profile, so you can browse through the database of 
                        potential Noogler roommates.
                    </p>
                    <h3 style="text-align: right;">See you there!</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="profile-card">
        <p>
            <strong>What's this?</strong>
        </p>
        <p>
            You received this email because you signed up for roomM8, a web app designed
            to help Nooglers find roommates. To stop receiving messages in your inbox, head over to 
            <a href="https://roomm8.io/">roomM8.io</a>, where you can login
            and delete your profile.
        </p>
        <p>
            If you received this email by mistake, please ignore it. Thank you.
        </p>
        <p>
            <strong>Privacy Policy</strong>
        </p>
        <p>
            None of the information you provide to roomM8 will ever be given
            or sold to any third party, or used for any purpose other than
            providing you with the services explicitly outlined on the roomM8
            website. Period.
        </p>
    </div>
</body>
</html>