<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>roomM8 (for Nooglers)</title>
    <% include ../partials/imports/jquery.ejs %>
    <% include ../partials/imports/bootstrap.ejs %>
    <% include ../partials/imports/bootstrap-theme.ejs %>
</head>
<body>
    <div class="container">
        <% include ../partials/top.ejs %>
        <div class="jumbotron">
            <h1>Search for roommates</h1>
        </div>
        <div class="container" role="main">
            <div class="container roomies">
                <% for(var i=0; i<roomies.length; i++) {%>
                    <div class="roomie">
                        <span class="name"><%= roomies[i].name %></span>
                        <span class="location"><%= roomies[i].location %></span>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html>