<% var isUserRegistered = (user && user.age) ? true : false; %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>roomM8 (for Nooglers)</title>
    <% include ../partials/imports/jquery.ejs %>
    <% include ../partials/imports/bootstrap.ejs %>
    <% include ../partials/imports/bootstrap-tagsinput.ejs %>
    <% include ../partials/imports/bootstrap-slider.ejs %>
    <% include ../partials/imports/bootstrap-theme.ejs %>
    <% if (user) { %>
        <% include ../partials/imports/async.ejs %>
    <% } %>
    <!-- Custom scripts -->
    <script src="js/index.js"></script>
    <% if (isUserRegistered) { %>
        <% include ../partials/imports/spin.ejs %>
        <% include ../partials/imports/angular.ejs %>
        <% include ../partials/imports/ng-infinite-scroll.ejs %>
        <% include ../partials/imports/roommates-angular.ejs %>
    <% } %>
    <!-- Custom stylesheets -->
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <% include ../partials/top.ejs %>
    <div class="container head bg-primary">
        <div class="container">
            <div class="jumbotron">
                <% if(!isUserRegistered) { %>
                    <h1>Relocating for Google?</h1>
                    <p>
                        I am too, and I'm trying to figure out where I'm going to live. 
                        I wanted an easy way to find other Nooglers who 
                        could be potentially good roommates, so I made this web app.
                        I hope you find it useful!
                    </p>
                <% } else { %>
                    <h1>Welcome, <%= user.name.split(' ')[0] %>!</h1>
                    <p>
                        As more users sign up for roomM8, you should begin to 
                        receive emails with potential roommates. In the mean 
                        time, you can search through the current userbase to 
                        see if anyone catches your eye.
                    </p>
                <% } %>
                <p>
                    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#registerModal">
                        <% if(isUserRegistered) { %>
                            <span class="glyphicon glyphicon-user text-success"></span> My profile
                        <% } else { %>
                            <span class="glyphicon glyphicon-ok text-success"></span> Get matched!
                        <% } %>
                    </button>
                    <% if(user) { %>
                        <a href="/logout" class="btn btn-warning btn-lg" role="button">
                            <span class="glyphicon glyphicon-log-out text-warning"></span> Sign out
                        </a>
                    <% } %>
                    <button type="button" class="btn btn-white btn-lg" data-toggle="modal" data-target="#infoModal">
                        <span class="glyphicon glyphicon-apple"></span> Learn more
                    </button>
                </p>
            </div>
            <p class="text-right" style="font-size: 0.8em; font-weight: bold;">
                This app is an independent project.<br/>
                It is not associated with or provided by Google.
            </p>
        </div>
    </div>
    <div class="container author">
        Created by <a href="http://www.soerenwalls.com/">Soeren</a>. 
        View the Source Code on <a href="https://github.com/SWalls/roomM8">Github</a>.
    </div>
    <% if(isUserRegistered) { %>
        <% include ../partials/roommates-list.ejs %>
    <% } %>
    <!-- Learn More (Information) Modal -->
    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalTitle">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="infoModalTitle">
                        About roomM8
                    </h4>
                </div>
                <div class="modal-body">
                    <p>
                        roomM8 was built by <a href="http://www.soerenwalls.com/">a Noogler</a> 
                        for other Nooglers. It is a completely 
                        independent service that has no association with Google.
                    </p>
                    <h3>What's it for?</h3>
                    <p>
                        The purpose of roomM8 is to provide a <strong>secure</strong> and 
                        <strong>searchable</strong> database of people
                        who will be working at Google soon and are looking for roommates.
                        Roommates are great for several reasons:
                    </p>
                    <ol>
                        <li>Someone to talk to besides yourself</li>
                        <li>Someone to relate to about being new at Google</li>
                        <li>Someone to watch Game of Thrones with</li>
                        <li>Cheaper rent</li>
                    </ol>
                    <h3>What happens when I sign up?</h3>
                    <p>
                        When you sign up for roomM8, you'll enter some Google-specific information 
                        like where & when you will be starting at Google, as well as some practical 
                        information like how many roommates you're looking for and how important 
                        quiet time & cleanliness are to you.
                    </p>
                    <p>
                        After you sign up, you'll have access to the entire database of other
                        Nooglers who have already signed up. You can easily search for people by
                        name, field of work, Google Campus location, start date, and more. You can see
                        what cities they're considering living in, how many roommates they want,
                        what type of residence they want, and more.
                    </p>
                    <h3>Why are there so few people?</h3>
                    <p>
                        Since roomM8 is so new (<strong>launched Jan 11, 2017</strong>), there might not
                        be very many users at first, but be patient and in a few days there 
                        might be more people in your search results.
                    </p>
                    <h3>How can I trust roomM8?</h3>
                    <p>
                        This service uses secure protocols and authentication, which you can 
                        verify by viewing the complete <a href="https://github.com/SWalls/roomM8">source code on GitHub</a>.
                        I'm not perfect, so if you see anything problematic, pull requests or issue 
                        posts are more than welcome!
                    </p>
                    <h3>Privacy/safety concerns?</h3>
                    <p>
                        Other users will be able to see your name, photo (if you have one), and other relevant
                        information. However, your email address, age, and gender are kept private.
                        Messages you recieve on roomM8 will be forwarded to your email, but the sender won't know your
                        email unless you reply. Also, <strong>users can only message another user once</strong>.
                        This is to prevent your inbox from blowing up.
                    </p>
                    <p>
                        Unless a Noogler shares the secret registration code with a non-Noogler 
                        (if you do, <a href="http://i.imgur.com/NAJE0d0.png">shame on you!</a>), 
                        every user of roomM8 is a Google employee. If you believe in Google's
                        hiring practices, this means it's a relatively trustworthy group of people.
                    </p>
                    <p>
                        That being said, you should of course always be cautious when talking to
                        anyone online. If you get a message that seems fishy/sketchy, just ignore it.
                        If you become suspicious that someone might not be a Noogler, ask for proof.
                        <strong>If you are harassed or believe someone is abusing the service, please report
                        them immediately <a href="mailto:roomm8app@google.com">here</a>.</strong> 
                        Ultimately, however, roomM8's creator cannot be held responsible for
                        anything bad that happens.
                    </p>
                    <h3>Can I delete my account?</h3>
                    <p>
                        Yes. Once you're done using roomM8, hopefully after you've found a 
                        <a href="https://s-media-cache-ak0.pinimg.com/564x/77/95/b8/7795b8e7e066ea94dba4807a1f733921.jpg">
                        fantastic roommate</a>, it's very easy to delete your account and permenantly
                        erase all your info from the database.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Registration Form Modal -->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalTitle">
        <div class="modal-dialog" role="document">
            <% if (user) { %>
                <div class="modal-content">
                    <form action="/" method="post" id="registration-form">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="registerModalTitle">
                                <%= (isUserRegistered) ? "My Profile" : "Sign up" %>
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger error-message" style="font-weight: bold;" 
                                    data-message="Please complete the missing or invalid fields.">
                                <span class="glyphicon glyphicon-exclamation-sign"></span> <span class="msg"></span>
                            </div>
                            <div class="alert alert-success success-message" style="font-weight: bold;" 
                                    data-message="Success!">
                                <span class="glyphicon glyphicon-ok"></span> <span class="msg"></span>
                            </div>
                            <% include ../partials/register-form.ejs %>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-xs-4 text-left">
                                    <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">Cancel</button>
                                </div>
                                <div class="col-xs-8">
                                    <button type="button" class="btn btn-default btn-previous">
                                        <span class="glyphicon glyphicon-arrow-left"></span> Back
                                    </button>
                                    <% if(isUserRegistered) { %>
                                        <button type="button" class="btn btn-danger btn-delete">
                                            <span class="glyphicon glyphicon-remove"></span> Delete
                                        </button>
                                    <% } %>
                                    <button type="button" class="btn btn-primary btn-next">
                                        <% if(isUserRegistered) { %>
                                            <span id="editText">
                                                <span class="glyphicon glyphicon-pencil"></span> Edit
                                            </span>
                                        <% } %>
                                        <span id="continueText">
                                            Continue <span class="glyphicon glyphicon-arrow-right"></span>
                                        </span>
                                    </button>
                                    <button type="button" class="btn btn-success btn-register">
                                        <span class="glyphicon glyphicon-ok"></span> 
                                        <%= (isUserRegistered) ? "Submit" : "Sign up" %>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            <% } else { %>
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="registerModalTitle">Sign up</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger error-message" style="font-weight: bold;" 
                                data-message="Please complete the missing or invalid fields.">
                            <span class="glyphicon glyphicon-exclamation-sign"></span> <span class="msg"></span>
                        </div>
                        <div class="alert alert-success success-message" style="font-weight: bold;" 
                                data-message="Success!">
                            <span class="glyphicon glyphicon-ok"></span> <span class="msg"></span>
                        </div>
                        <% include ../partials/key-form.ejs %>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>