<% var isUserRegistered = (user && user.age) ? true : false; %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>roomM8 (for Nooglers)</title>
    <% include ../partials/imports/jquery.ejs %>
    <% include ../partials/imports/bootstrap.ejs %>
    <% include ../partials/imports/bootstrap-tagsinput.ejs %>
    <% include ../partials/imports/bootstrap-slider.ejs %>
    <% include ../partials/imports/bootstrap-theme.ejs %>
    <% include ../partials/imports/async.ejs %>
    <% include ../partials/imports/angular.ejs %>
    <% include ../partials/imports/roommates-angular.ejs %>
    <!-- Custom stylesheets -->
    <link rel="stylesheet" href="css/index.css">
    <!-- Custom scripts -->
    <script src="js/index.js"></script>
</head>
<body>
    <% include ../partials/top.ejs %>
    <div class="container head bg-primary">
        <div class="container">
            <div class="jumbotron">
                <% if(!isUserRegistered) { %>
                    <h1>Relocating for Google?</h1>
                    <p>
                        I am too, and I created this simple app to help fellow 
                        Nooglers find other Nooglers who could be potentially 
                        good roommates.
                    </p>
                <% } else { %>
                    <h1>Welcome, <%= user.name.split(' ')[0] %>!</h1>
                    <p>
                        As more users sign up for roomM8, you should begin to 
                        receive emails with potential roommates. In the mean 
                        time, you can search through the current userbase to 
                        see if anyone catches your eye.
                    </p>
                <% } %>
                <p>
                    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#registerModal">
                        <% if(isUserRegistered) { %>
                            <span class="glyphicon glyphicon-user text-success"></span> My profile
                        <% } else { %>
                            <span class="glyphicon glyphicon-ok text-success"></span> Get matched!
                        <% } %>
                    </button>
                    <% if(user) { %>
                        <a href="/logout" class="btn btn-warning btn-lg" role="button">
                            <span class="glyphicon glyphicon-log-out text-warning"></span> Sign out
                        </a>
                    <% } %>
                    <button type="button" class="btn btn-white btn-lg" data-toggle="modal" data-target="#infoModal">
                        <span class="glyphicon glyphicon-apple"></span> Learn more
                    </button>
                </p>
            </div>
            <p class="text-right" style="font-size: 0.8em; font-weight: bold;">
                This app is an independent project.<br/>
                It is not an official Google product/service.
            </p>
        </div>
    </div>
    <div class="container author">
        Created by <a href="http://www.soerenwalls.com/">Soeren</a>. 
        View the Source Code on <a href="https://github.com/SWalls/roomM8">Github</a>.
    </div>
    <% if(isUserRegistered) { %>
        <% include ../partials/roommates-list.ejs %>
    <% } %>
    <!-- Registration Form Modal -->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModal">
        <div class="modal-dialog" role="document">
            <% if (user) { %>
                <div class="modal-content">
                    <form action="/" method="post" id="registration-form">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="registerModal">
                                <%= (isUserRegistered) ? "My Profile" : "Sign up" %>
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger error-message" style="font-weight: bold;" 
                                    data-message="Please complete the missing or invalid fields.">
                                <span class="glyphicon glyphicon-exclamation-sign"></span> <span class="msg"></span>
                            </div>
                            <div class="alert alert-success success-message" style="font-weight: bold;" 
                                    data-message="Success!">
                                <span class="glyphicon glyphicon-ok"></span> <span class="msg"></span>
                            </div>
                            <% include ../partials/register-form.ejs %>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-xs-4 text-left">
                                    <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">Cancel</button>
                                </div>
                                <div class="col-xs-8">
                                    <button type="button" class="btn btn-default btn-previous">
                                        <span class="glyphicon glyphicon-arrow-left"></span> Back
                                    </button>
                                    <% if(isUserRegistered) { %>
                                        <button type="button" class="btn btn-danger btn-delete">
                                            <span class="glyphicon glyphicon-remove"></span> Delete Profile
                                        </button>
                                    <% } %>
                                    <button type="button" class="btn btn-primary btn-next">
                                        <% if(isUserRegistered) { %>
                                            <span id="editText">
                                                <span class="glyphicon glyphicon-pencil"></span> Edit Profile
                                            </span>
                                        <% } %>
                                        <span id="continueText">
                                            Continue <span class="glyphicon glyphicon-arrow-right"></span>
                                        </span>
                                    </button>
                                    <button type="button" class="btn btn-success btn-register">
                                        <span class="glyphicon glyphicon-ok"></span> 
                                        <%= (isUserRegistered) ? "Submit Changes" : "Complete Registration" %>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            <% } else { %>
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="registerModal">Sign up</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger error-message" style="font-weight: bold;" 
                                data-message="Please complete the missing or invalid fields.">
                            <span class="glyphicon glyphicon-exclamation-sign"></span> <span class="msg"></span>
                        </div>
                        <div class="alert alert-success success-message" style="font-weight: bold;" 
                                data-message="Success!">
                            <span class="glyphicon glyphicon-ok"></span> <span class="msg"></span>
                        </div>
                        <% include ../partials/key-form.ejs %>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>